.header {
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 200%;
    font-weight: 300;
}

// .search {
// }

.content {
    border-top: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: rgb(238, 238, 238);
    border-style: solid;
}